body {
  background-color: #181818;
  font-family: "Lucida Console";
  color: #fff;
}

main {
  padding: ;
}

#top {
  text-align: center;
  font-family: "Lucida Console";
  padding-top: 60px;
  line-height: 0.5;
}

#top h2 {
  font-size: 50px;
}

#form {
  max-width: 50%;
  margin-top: 9%;
  padding-left: 45px;
  height: 410px;
}

#form input {
  background-color: #111;
  padding: 2%;
  border: none;
}

#form input[type=text] {
  width: 40%;
}

#form input[type=email] {
  width: 45%;
}

#form textarea {
  background-color: #111;
  border: none;
  padding: 2%;
}

#form input[type=submit] {
  background-color: #009e66;
  color: #fff;
  border-radius: 20px;
  width: 25%;
}

#info {
  max-width: 47%;
  margin-left: 56%;
  margin-top: -33%;
  height: 410px;
}

#info p {
  font-size: small;
  line-height: 1.5;
  color: #707070;
}

.icon {
  font-size: 40px;
  color: #009e66;
  margin-left: 2%;
}

#info-text {
  border-left: 1px solid #707070;
  margin-left: 12%;
  margin-top: -47%;
  padding-left: 5%;
  line-height: 0.5;
}

#info-text .post {
  color: #707070;
}


